.session {
    float:right;
    margin: 5px 10px 0 0;
}

.login {
    float:right
}

.breadcrumb {
    background-color: #f8b52a !important;
}

.breadcrumb i {
    color:  black !important;
}

.title {
    text-align: center;
    font-weight: 600;
}